@props(ID string, Name string, Label string, Value string = "", Required bool = false, Event string = "", Rows int = 5, Error string = "")
<div class="form-row">
  <label for="{{ .Props.ID }}">{{ .Props.Label }}</label>
@if(.Props.Required)
  @if(.Props.Event)
  <textarea id="{{ .Props.ID }}" name="{{ .Props.Name }}" required rows="{{ .Props.Rows }}" g-change="{{ .Props.Event }}" g-input="{{ .Props.Event }}" g-debounce="150">{{ .Props.Value }}</textarea>
  @else
  <textarea id="{{ .Props.ID }}" name="{{ .Props.Name }}" required rows="{{ .Props.Rows }}">{{ .Props.Value }}</textarea>
  @endif
@else
  @if(.Props.Event)
  <textarea id="{{ .Props.ID }}" name="{{ .Props.Name }}" rows="{{ .Props.Rows }}" g-change="{{ .Props.Event }}" g-input="{{ .Props.Event }}" g-debounce="150">{{ .Props.Value }}</textarea>
  @else
  <textarea id="{{ .Props.ID }}" name="{{ .Props.Name }}" rows="{{ .Props.Rows }}">{{ .Props.Value }}</textarea>
  @endif
@endif
@component("components.field_error", dict "Error" .Props.Error)
@endcomponent
</div>
