<section class="auth-card">
  <h1>{{ .Title }}</h1>
  <form g-submit="forgot.submit" class="stack">
@component("components.input", dict "ID" "forgot-email" "Name" "email" "Label" .EmailLabel "Type" "email" "Value" .Email "Required" true "Error" .ErrEmail)
@endcomponent
@component("components.turnstile", dict "SiteKey" .TurnstileSiteKey)
@endcomponent
    <button type="submit" class="btn primary">{{ .SubmitLabel }}</button>
  </form>
@component("components.auth_links", dict "Links" .Links "Single" true)
@endcomponent
</section>
